* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 1.5rem;
}

.textarea {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textarea input {
  width: 300px;
  height: 30px;
  padding: 0 1rem;
}

.text .flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.textarea button {
  width: 100px;
  height: 30px;
}

#todos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.todo-div {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
  padding: 1rem;
  margin: 0.5rem 0;
}

.todo-div button {
  padding: 0.5rem 1rem;
}

.marked {
  text-decoration: line-through;
}

@media only screen and (max-width: 768px) {
  .todo-div {
    width: 100%;
  }

  .todo-div button {
    padding: 0.2rem 0.5rem;
  }
}
